<html ng-app='test2IhmApp'>
<body ng-controller='MoreInfoCTRL'>


<div class="jumbotron">
  <p ng-if="!currentUser.$edit">Nom : {{currentUser.name}}</p>

  <p ng-if="!currentUser.$edit">Prénom : {{currentUser.surname}}</p>

  <p ng-if="!currentUser.$edit">Email : {{currentUser.email}}</p>

  <p ng-if="!currentUser.$edit">Website : {{currentUser.website}}</p>
  <div id="broken"></div>
</div>
</br>

<h3>Projets</h3>

<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Rôle</th>
      <th>Année</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="project in projectUser">
      <td>{{project.title}}</td>
      <td>{{project.description}}</td>
      <td>{{projectUser.getRole(currentUser.id,project.id)}}</td>
      <td>{{project.year}}</td>
    </tr>
    </tbody>
  </table>
</div>

<a ng-click="goToAccueil()" href="" class="btn btn-success btn-md"><span class="glyphicon glyphicon-home"></span> Revenir à l'accueil</a>


</body>
</html>
