<html ng-app='test2IhmApp'>
<body ng-controller='UserAndRoleCTRL'>

<div id="ajouterUser" class="tab-pane fade">
  <div class="container">
    <h2>Ajouter un utilisateur avec son rôle</h2>

    <form name="userForm" role="form">

      <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
        <label for="name">Nom :</label>
        <input name="name" ng-model="newName" type="text" class="form-control" id="name" placeholder="Entrez le nom"
               required ng-minlength="1" ng-maxlength="20">

        <p ng-show="userForm.name.$error.minlength" class="help-block">Le nom est trop court</p>

        <p ng-show="userForm.name.$error.maxlength" class="help-block">Le nom est trop long</p>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : userForm.surname.$invalid && !userForm.surname.$pristine }">
        <label for="surname">Prénom :</label>
        <input name="surname" ng-model="newSurname" type="text" class="form-control" id="surname"
               placeholder="Entrez le prénom" required ng-minlength="1" ng-maxlength="20">

        <p ng-show="userForm.surname.$error.minlength" class="help-block">Le prénom est trop court</p>

        <p ng-show="userForm.surname.$error.maxlength" class="help-block">Le prénom est trop long</p>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : userForm.mail.$invalid && !userForm.mail.$pristine }">
        <label for="email">Email:</label>
        <input name="mail" ng-model="newMail" type="email" class="form-control" id="email"
               placeholder="Entrez l'email" required>

        <p ng-show="userForm.mail.$invalid && !userForm.mail.$pristine" class="help-block">Entrez une adresse email
          valide</p>
      </div>

      <div class="form-group">
        <label for="website">Website :</label>
        <input ng-model="newWebsite" type="text" class="form-control" id="website" placeholder="Entrez le site web">
      </div>

      <button type="submit" ng-disabled="userForm.$invalid"
              ng-click="createUser(newName,newSurname,newMail,newWebsite);" class="btn btn-default">
        Ajouter
      </button>
    </form>
  </div>
</div>

</body>
</html>
